<!doctype html>
<head>
	<style>
		table{border-collapse:collapse;width:80%}
		tr td{padding: 5px;width:20%}
		th{text-align: left}
		tr th{background: #E27575;width:20%}
		.message{color:green;}
   		
	</style>
</head>
<body>
	<h1>List of visitors is as below:</h1>
	<p class="message"> {{ message }} </p>
	<table border="1">
	
		<tr>
			<th>Visitor Name</th><th> Email </th><th>Contact</th><th>Employee Name</th><th>Visit Date</th>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{item.visitor_name}}</td>
			<td>{{item.email}}</td>
			<td>{{item.phone_number}}</td>
			<td>{{item.employee_name}}</td>
			<td>{{item.visit_date}}</td>
		</tr>
	{% endfor %}
	</table>
	<br>
	<form action="/history">
		<input type="hidden" name="fromdate" value="{{ fromdate }}">
		<input type="hidden" name="todate" value="{{ todate }}">
		<input type="submit" value="Export to excel" name="flag">

	</form>
</body>


