<!doctype html>
<head>
	<style>
		table{border-collapse:collapse}
		tr td{padding:2px 185px 2px 2px}
		th{text-align: left}
	</style>
</head>
<body>
	<h1>List of visitors is as below:</h1>
	<table border="1">
	
		<tr>
			<th>Visitor Name</th><th> Email </th><th>Contact</th><th>Employee Name</th><th>Visite Date</th>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{item.visitor_name}}</td>
			<td>{{item.email}}</td>
			<td>{{item.phone_number}}</td>
			<td>{{item.employee_name}}</td>
			<td>{{item.visit_date}}</td>
		</tr>
	{% endfor %}
	</table>
</body>


